// Colores
$azul: rgb(32,41,61);
$negro: #000;
$blanco: #fff;
$rojo: #f43d4a;

// Fuentes
$font-title: Montserrat,sans-serif;
$size-title: 48px;
$size-h3: 20px;
$font-text: Rubik,sans-serif;
$size-text: 16px;